<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:white">
    Welcome to {{ title }}!
  </h1>
  <div style="color:white">
    <h3>
      {{subject}}
    </h3>
  </div>
  <img width="100" alt="Angular Logo" src="assets/img/ProfPhoto.ico">
</div>

<div style="padding-left:200px"> 
  <h2 style="color:white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">CONTACT US: </h2>
  <hr>
  <div class="namearea">
   <span style="color:white;font-weight:bold;font-family:'Times New Roman', Times, serif">Enter Name: </span><input type="text" class="form-control" placeholder="Name" /> 
  </div>
</div>


