/* You can add global styles to this file, and also import other style files */
body {
    font-family: Lato,sans-serif !important;
    background-image: url("assets/img/space.jpg");
}

header, footer, nav, section {
    display: block;
}